.principal-adiciona{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    gap: 1rem;
    background-image: linear-gradient( to right,
        rgba(0, 0, 0, 0.411), rgba(255, 255, 255, 0.767), rgba(0, 0, 0, 0.473)
    );
    border-radius: 1rem;
    backdrop-filter: blur(1rem);
    box-shadow: 0.1rem 0.1rem 0.3rem rgb(0, 0, 0);
    margin-top: 3rem;
    padding: 3rem;
}


input{
    border: solid 1px ;
    border-radius: 0.5rem;
    text-align: center;
}

form{
    display: flex;
    align-items: center;
    gap: 1rem;
}


#bnt-add{
    width: 120px;
    right: 30px;
    padding: 0.2rem;
    border: 0;
    margin: 0;
}

h2{
    margin-bottom: 2rem;
}