.analiseia{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; 
    width: 50%;
    background-image: linear-gradient( to right,
        rgba(0, 0, 0, 0.411), rgba(255, 255, 255, 0.397), rgba(0, 0, 0, 0.473)
    );
    border-radius: 1rem;
    backdrop-filter: blur(1rem);
    box-shadow: 0.1rem 0.1rem 0.3rem rgb(0, 0, 0);
    margin-top: 2rem;
}

.bnt-dashboard{
    margin-bottom: 2rem;
}
p{
    font-size: 1.2rem;
}