.cria-user{
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    padding: 2rem;
    margin-top: 5rem;
    width: 40%;


    background-color: hsla(0, 0%, 100%, 0.9);
    border-style: outset;
    border-radius: 1rem;

    box-shadow: 1rem 1rem 1rem rgb(0, 0, 0);
    border-left: 0.5rem solid #0000009f;
    border-top: 0.5rem solid #0000009f;
    transition: 0.5s;
    gap: 1rem;
    transition: 0.5s;


    h1{
        margin-bottom: 1rem;
        color: black;
        text-align: center;
    }
    input{
        margin-bottom: 1rem;
        padding: 0.5rem;
        width: 20rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
    }
    
}
.cria-user:hover {
    transform: scale(1.03);
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}