header {
    background-color: rgb(0, 0, 0);
    border-bottom: 0.2rem ridge #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 100%;
    overflow-x: hidden;  /* impede estouro horizontal */
}

/* Linha central do header */
.header-page {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center; 
    width: 100%;

    h1{
        color: white;
        font-size: 2rem;
    }
}

/* Remove espaço padrão do navegador */
nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav ul li a {
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

h1 {
    color: white;
}