/* garante que nada estoure horizontalmente */
* {
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* MAIN */
main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-height: 100vh;

    overflow: hidden; /* impede estourar o lado direito */
}

/* Fundo embaçado */
main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-image: url('/main-img.jpg');
    background-size: cover;
    background-position: center;

    filter: blur(7px);
    transform: scale(6); /* garante que não apareçam bordas */
    z-index: -1;
}

/* Card principal */
.card {
    display: flex;
    flex-direction: column;

    width: 90%;
    max-width: 700px;
    padding: 3rem;
    margin-top: 2rem;

    align-items: center;
    justify-content: center;
    gap: 2rem;
}

/* Card de apresentação */
.card-apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    

    background-color: hsla(0, 0%, 100%, 0.9);
    border-style: outset;
    border-radius: 1rem;

    padding: 2rem;
    width: 100%;

    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
    border-left: 0.5rem solid #0000009f;
    border-top: 0.5rem solid #0000009f;

    gap: 1rem;

    h1{
        color: black;
    }
}

/* Texto introdutório */
.introducao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.introducao div {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}

/* Primeiro passo */
.primeiro-passo {
    display: flex;
    flex-direction: column;

    background-color: hsla(0, 0%, 100%, 0.9);
    border-style: outset;
    border-radius: 1rem;

    padding: 2rem;
    width: 100%;

    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
    border-left: 0.5rem solid #0000009f;
    border-top: 0.5rem solid #0000009f;

    gap: 1.5rem;
    align-items: center;
    text-align: center;
}

.primeiro-passo button {
    background-color: #007BFF;
    color: white;
    border: none;

    border-radius: 0.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;

    transition: background-color 0.3s ease;
}

/* Login e registro */
.login, .register {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Botão padrão */
button {
    padding: 0.5rem 1rem;
    cursor: pointer;
}
