/* garante que nada estoure horizontalmente */
html, body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* MAIN */
main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-height: 100vh;

    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.267);
}

main::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url('/main-img.jpg');
    background-size: cover;
    background-position: center;

    filter: blur(8px);
    transform: scale(1);
    z-index: -1;
}

.card {
    display: flex;
    flex-direction: column;

    width: 90%;
    max-width: 700px;
    padding: 3rem;
    margin-top: 2rem;

    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.card-apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background-color: hsla(0, 0%, 100%, 0.9);
    border-style: outset;
    border-radius: 1rem;

    padding: 2rem;
    width: 100%;

    box-shadow: 1rem 1rem 1rem rgb(0, 0, 0);
    border-left: 0.5rem solid #0000009f;
    border-top: 0.5rem solid #0000009f;
    transition: 0.5s;
    gap: 1rem;

    h1{
        color: black;
    }
}

.card-apresentacao:hover {
    transform: scale(1.03);
}

.introducao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.introducao div {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}

.primeiro-passo {
    display: flex;
    flex-direction: column;

    background-color: hsla(0, 0%, 100%, 0.9);
    border-style: outset;
    border-radius: 1rem;

    padding: 2rem;
    width: 100%;

    box-shadow: 1rem 1rem 1rem rgb(0, 0, 0);
    border-left: 0.5rem solid #0000009f;
    border-top: 0.5rem solid #0000009f;
    transition: 0.5s;
    gap: 1.5rem;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
}

.primeiro-passo:hover {
    transform: scale(1.03);
}

button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    color:white;
    background-color: blue;
    border-radius: 1rem;
    font-size: 1.5rem;
    font: bolder;
}
