@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

button {
  background-color: black;
  color: white;
  border-radius: 0.3rem;
  padding: 1rem;
  margin-top: 1rem;
  border: rgb(255, 255, 255) solid 1px;
  cursor: pointer;
  transition: 1s;
}
button:hover{
  transform: scale(1.1);
}
html,
body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  min-height: 100vh;

  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.267);
}

main::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url('../../public/main-img.jpg');
  background-size: cover;
  background-position: center;

  filter: blur(8px);
  transform: scale(1.1);
  z-index: -1;
}