@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --font-mono: var(--font-mono);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono), monospace;
}

button {
  padding: 0.9rem;
  background-color: rgb(0, 0, 0);
  border-radius: 0.9rem;
  color: #ffffff;
  border: rgb(255, 255, 255) solid 1px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

/* garante que nada estoure horizontalmente */
html, body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* MAIN */
main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-height: 100vh;

    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.267);
}

main::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url('/main-img.jpg');
    background-size: cover;
    background-position: center;

    filter: blur(8px);
    transform: scale(1);
    z-index: -1;
}