@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --font-mono: var(--font-mono);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono), monospace;
}

button {
  padding: 0.9rem;
  background-color: blanchedalmond;
  border-radius: 0.5rem;
  color: #0a0a0a;
  border: black solid 1px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;

}
